<!DOCTYPE html>
<html lang="en">
    
    <!-- Head -->
    <head>
        <meta charset="utf-8">
        <link href='http://fonts.googleapis.com/css?family=Rokkitt:400,700' rel='stylesheet' type='text/css'>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="../static/css/indexcss.css">
        <script src="../static/js/bootstrap.min.js"></script>
        
    </head>
    
    <!-- Body -->
    <body>
        <header>
            <h1>Shoppr</h1>
            <nav class="navbar navbar-default navbar-fixed-top">
                <ul class="nav nav-pills">
                    <li><a href="index.html">Home</a></li>
                    <li><a href="shopping.html">Shopping</a></li>
                    <li class="active"><a href="about.html">About Us</a></li>
                </ul>
        </header>
        <section>
            <div class="container">
                <div class="hometext">
                <h2>Welcome. Let's shop.</h2>
                <p>
Audiam commodo saperet ius an. Mel illum dolorum temporibus ad. Quando veniam mollis duo ad, eu admodum civibus instructior mel. Sit antiopam principes ne. Summo euripidis instructior est cu, duo soluta delectus forensibus an, cu sed melius oportere intellegam.

In vis errem fabulas constituto. Officiis deseruisse ei est. Mei et alterum persecuti, et vis clita legendos interpretaris. Eam ne vidit fabulas delectus, labores iracundia rationibus cu quo, usu ex iuvaret eloquentiam. Enim augue nominavi ut eam, has eros facete complectitur ad. Usu id congue periculis, eum mollis latine theophrastus id. Pri et stet nusquam insolens.

Eu duo wisi scaevola adversarium. Ad summo aliquip vel, at saperet evertitur vituperata eam, at pri melius bonorum. At pri enim veniam interesset, id eos graece vocibus. Dicta fuisset ea duo. Quo idque aliquam partiendo ex. Quo diam utamur at, nam impedit fastidii disputationi et, vim ei noster veritus deleniti.

Posse assum officiis ne mel, ei nec ocurreret dissentiet, eius convenire adipiscing mei eu. Has eu movet recusabo. Tota tractatos suscipiantur ut mea, at has molestie delicatissimi. Ne dolorum appellantur vis. Affert incorrupte signiferumque in duo, principes sadipscing cum in.

Facer recusabo his id, eum ad duis simul aeterno. Cu quo perpetua intellegat, vis reque mediocritatem at, vix prima insolens ad. Erroribus maiestatis delicatissimi te pri. Ferri simul iudicabit et has, vel iudico percipit definitiones et. Nam te clita soluta interesset, audiam epicurei appellantur ad eos, sea porro adversarium ei.

Exerci assueverit deterruisset et per, probo eirmod in quo. Sea labitur assueverit disputationi ad. His affert noster docendi ei. Usu in choro mucius detracto. Id sea indoctum expetendis.

Ex impetus ceteros copiosae vix, ut nam fugit iriure. Per ea quem tantas concludaturque, pri labore sensibus evertitur id. Pri nominavi tincidunt ne, ne omnis voluptua est. Dicam facete et vix. Eirmod prodesset efficiantur id sit. Veri placerat tractatos cu vim, iracundia constituto et pri.

Est meis choro saperet te, choro dicant no sea, ad natum option per. Mei te modus viris evertitur, in nec denique menandri reformidans, in nam nibh errem detraxit. Pri quaeque democritum eu, no pri elitr expetendis instructior. Vel eu quodsi saperet, tacimates adversarium ut nam. Id facilisis adolescens mea, ludus facilisi tincidunt per ad, aperiri inimicus hendrerit ne vel. Oblique sapientem ne pri.

At harum partem eleifend sea. Te his summo cetero antiopam. Eu noster deleniti scribentur has. Dolorum erroribus per ea. Summo impetus id mel, est ex enim cetero. No elit ocurreret mel, sed soleat volutpat ea. Et graeco noluisse indoctum sed, eum aeterno eleifend an.

At propriae placerat honestatis mea, ei eos regione eripuit sadipscing, te ubique assentior dissentias sit. Quodsi oporteat per eu, an vel oportere interpretaris, nec an numquam epicuri fierent. Eius nihil eam at. Pro lorem doctus et. Dico vide propriae ad pri, unum vivendo mediocrem id vim.
        </p>   
                </div>
        </section>
        <footer>
            <h4>&copy; appName 2015. All rights reserved.</h4>
        </footer>
    </div>   
    </nav>
    </body>
    
</html>