<!DOCTYPE html>
<html lang="en">
    
    <!-- Head -->
    <head>
        <meta charset="utf-8">
        <link href='http://fonts.googleapis.com/css?family=Rokkitt:400,700' rel='stylesheet' type='text/css'>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="../static/css/indexcss.css">
        <script src="../static/js/bootstrap.min.js"></script>
        
    </head>
    
    <!-- Body -->
    <body id="about">
        <header>
            <nav class="navbar navbar-default navbar-fixed-top">
                <ul class="nav nav-pills">
                    <li><a href="index.html">Home</a></li>
                    <li><a href="shopping.html">Shopping</a></li>
                    <li><a href="tutorial.html">Tutorial</a></li>
                    <li class="active"><a href="about.html">About Us</a></li>
                    <p class="navbar-text">Shoppr: The Premier Shopping Experience</p>
                </ul>
        </header>
        <section>
            <div class="container">
                <div class="abouttext">
                <h2>Who are we?</h2>
                <p>
                <img src="../static/graphics/Us.JPG">
                <span id="textarea">
                    <b>Team: </b>20xx Unicorns<br>
                    <b>Members: </b>
            From left to right: Kyu hyun Chang ('17 Haverford), David Liu ('18 Swarthmore), Esteban Cabrera Duran ('18                                       Swarthmore), Katherine Kwok ('18 Swarthmore), Leon Chen ('18 Swarthmore). <br><br>
            We are a group of motivated students at Tri-Co Hackathon 2015 that wants to make a difference in the way low-income families                     shop. Even though we only have basic backgrounds in computer science, we used our current know-how to develop this dynamic                       grocery list app.
                </span>
                </p>   
                </div>
        </section>
        <footer>
            <h4>&copy; appName 2015. All rights reserved.</h4>
        </footer>
    </div>   
    </nav>
    </body>
    
</html>