<!DOCTYPE html>
<html lang="en">
    
    <!-- Head -->
    <head>
        <meta charset="utf-8">
        <link href='http://fonts.googleapis.com/css?family=Rokkitt:400,700' rel='stylesheet' type='text/css'>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="../static/css/indexcss.css">
        <script src="../static/js/bootstrap.min.js"></script>

    </head>
    
    <!-- Body -->
    <body id="index">
        <header>
            <nav class="navbar navbar-default navbar-fixed-top">
                <ul class="nav nav-pills">
                    <li class="active"><a href="index.html">Home</a></li>
                    <li><a href="shopping.html">Shopping</a></li>
                    <li><a href="tutorial.html">Tutorial</a></li>
                    <li><a href="about.html">About Us</a></li>
                    <p class="navbar-text">Shoppr: The Premier Shopping Experience</p>
                </ul>
        </header>
        <section>
            <div class="container">
                <div class="hometext">
                <h2>Welcome. Let's shop.</h2>
                <p>
                    Hello there, shopper!<br>
                    Shoppr aims to be a dynamic shopping list that will update your basket and total price based on your location. With our use of Python for Internet scraping and Google Maps API, we will always provide the lowest prices for the items you put in your basket. And the best part about Shoppr? It's completely free!<br>It's easy to get started. You can choose to:<br><br>
                    <span id="buttons">
                        <button type="button" class="btn btn-default btn-lg">
                            <a href="shopping.html" id="1">Shopping</a></button>
                        <button type="button" class="btn btn-default btn-lg">
                            <a href="tutorial.html" id="2">Why Shoppr?</a></button>
                    </span>
</p>
                </div>
        </section>
        <footer>
            <h4>&copy; Shoppr 2015. All rights reserved.</h4>
        </footer>
    </div>   
    </nav>
    </body>
    
</html>